<div class="horizontal-stack">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Viewport</mat-card-title>
      <mat-card-subtitle>FPS: {{ lastFps }} | Last sample: {{ lastSampleTime | number: '1.1-1' }}ms | Samples: {{ samples }} | Render time: {{ renderTime | number: '1.1-1' }}s</mat-card-subtitle>
    </mat-card-header>
    <canvas mat-card-image #viewport [width]="CANVAS_WIDTH" [height]="CANVAS_HEIGHT"></canvas>
  </mat-card>
  <mat-card class="mat-elevation-z0 scene-list-card">
    <mat-card-header>
      <mat-card-title>Scene</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item *ngFor="let entity of entities | keyvalue" role="listitem">{{ entity.value.name }}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
